<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="space.devincoopers.portfolio.mapper.PortfolioMapper">

    <resultMap id="projectResultMap" type="space.devincoopers.portfolio.model.Project">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="icon" column="icon"/>
        <result property="description" column="description"/>
        <result property="androidLink" column="android_link"/>
        <result property="iosLink" column="ios_link"/>
        <result property="website" column="website"/>
        <result property="github" column="github"/>
        <collection property="screenshots" ofType="string" column="id" select="selectScreenshots"/>
    </resultMap>

    <select id="getAllProjects" resultMap="projectResultMap">
        SELECT * FROM project
    </select>

    <select id="selectScreenshots" resultType="string" parameterType="long">
        SELECT screenshot FROM project_screenshot WHERE project_id = #{id}
    </select>

</mapper>